*{
    margin: 0;
    padding: 0;
    font-size: 65.2%;

}
body{
    height: 100%;
}
.head{
    background-color: #5FC0CD;
    text-align: center;
    color: #ffffff;
    padding: 1rem;
    font-size: 3rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.head1{
    float: left;
}

.main1{
    background: url("images/bground.png") no-repeat center;
    background-size: cover;
    margin-top: 4rem;
    padding: 2rem;
    color: #ffffff;
}
.inlineblock{
    display: inline-block;
    margin-left: 2rem;
    padding: 0.2rem;
    vertical-align: middle;

}
img{
    vertical-align: middle;
    max-width: 100%;

}
p{
    display: inline-block;
}
h2{
    font-size: 1.8rem;

}
.main2{
    padding: 1rem 1rem 1rem 2rem;
    border-bottom: solid 1px #E1E5E7;
}

h3{
    font-size: 1.7rem;
    border-left: solid #60C0CD 3px;
    padding-left: 1rem;
    display: inline-block;
    vertical-align: middle;
}
.p1{
    font-size: 1.5rem;
    vertical-align: middle;
    font-family: 宋体;
}
.img1{
    border-left: solid 1px #E1E5E7;
    margin-left: 0.5rem;
    padding-left: 0.5rem;

}

.p2{
    border-left: solid 1px #E1E5E7;
    padding-left: 1rem;
    margin-left: 1rem;
    font-size: 1.5rem;
}
.main3{
    padding: 1rem 1rem 1rem 3rem;
}
.item{
    margin-bottom: 7rem;
    border: none;
}
.item-wrap{
    border-top:solid 1px #E1E5E7;
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    line-height: 2rem;

}
.item-head{
    border: none;
    color: #999999;
    position: absolute;

}
.item-foot{
    border-left: solid 1px #E1E5E7;
    margin-left: 8rem;
    padding-left: 1rem;
    vertical-align: middle;
    font-size: 1.5rem;
}
.item-foot1{

}
.item-myself{
    position: absolute;
    vertical-align: middle;
}
.font-color{
    color: #ff0000;
}
.item-bottom{
    border-top: solid 1px #E1E5E7;
}
.foot{
    padding: 1rem;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
}

button{
    width: 45%;
    border: #5FC0CD 2px solid;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 2rem;
}
.message{
    background-color: #ffffff;
    color: #5FC0CD;
}
.contact{
    background-color: #5FC0CD;
    color: #ffffff;
}